<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="utf 8">
    <title>Guru99</title>     
</head>  
<body ng-app="app">
<h1 ng-controller="hola">{{message}}</h1>
<div ng-controller="estudiantes"> 
    <table>
      <tr ng-repeat="x in datos">
        <td>{{ x.name }}</td>
        <td>{{ x.email }}</td>
      </tr>
    </table>
</div>
<script src="https://code.angularjs.org/1.6.9/angular.js"></script>
<script>  
    var app = angular.module("app", []);
    app.controller("hola", function($scope) {  
        $scope.message="hola como estan todos" 
       
    } );
    app.controller("estudiantes",function($scope,$http){
        $http.get("http://localhost:8000/student").then(function(response) 
        {
            $scope.datos = response.data;
            console.log(response.data);
        });
    });
</script> 

</body>  
</html>